.Welcome{
    .adminLogin{
        position: absolute;
        top:50vh !important;
        left:50% !important;
        transform:translate(-100%,-50%);
    }
    .customerLogin{
        position: absolute;
        top:50vh !important;
        left:50% !important;
        transform:translate(-75%,-50%);
    }
}